/*****brand colors*****/
/*primary*/
$berkeley_blue: #003262;
$founders_rock: #3B7EA1;
$ca_gold: #FDB515;
$medalist: #C4820E;
/*secondary*/
$wellman_tile: #D9661F;
$rose_garden: #EE1F60;
$golden_gate: #ED4E33;
$south_hall: #6C3302;
$bay_fog: #DDD5C7;
$lawrence: #00B0DA;
$lap_lane: #00A598;
$pacific: #46535E;
$sather_gate: #B9D3B6;
$ion: #CFDD45;
$soybean: #859438;
$stone_pine: #584F29;

$web_gray: #888888;
$black: #000000;
$white: #ffffff;

/*****non brand colors*****/
$pale_gray: #cccccc;
$text_gray: #555555; /*for lead text*/
$steel_gray: #829db5; /*footer a*/
$hover_berkeley_blue: #00284F; /*footer a hover small screen*/