@import "entypo.css";
@import "dashicons.css";

$freight-georgia: "freight-micro-pro",Georgia,serif;
$freight-arial: "freight-micro-pro",Arial,Helvetica,sans-serif;
$freight-sans: "Open Sans", sans-serif; /*sinple for toolbar menu*/
$open-sans: 'Open Sans',sans-serif;

.entypo .entypo-social {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}