/***** Components *****/
.main-grid {
	margin: 30px auto;
	display: grid;
	grid-template-columns: repeat(3, minmax(120px, 380px));
	grid-gap: 30px;

	@include max-small-width { grid-template-columns: 1fr; }
	
	/***** Components *****/
	.component {
		width: 100%;
		line-height: 22px;
		font-size: 15px;

		@include max-small-width { grid-column: 1 / 1; }

		.promo.thumbnail {
			img {
				border-bottom: 8px solid #c4820e;
			}
			.caption {
				h3 {
					color: $berkeley_blue;
					text-transform: none;
					text-decoration: none;
					font-size: 20px;
					line-height: 26px;
					font-weight: 400;
					margin: 0;
					font-family: $freight-georgia;
				}
			}
		}
		.events-rss {
			a {
				color: $berkeley_blue;
				text-decoration: none;
				-webkit-transition: color .2s ease-in-out;
				-moz-transition: color .2s ease-in-out;
				-ms-transition: color .2s ease-in-out;
				-o-transition: color .2s ease-in-out;
				transition: color .2s ease-in-out;
			}
			h3.block-header {
				font-size: 12px;
				margin-top: 0;
				margin-left: 20px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 700;
			}
			.media-list {
				list-style: none;
				padding-left: 0;
				.media {
					.media-left {
						display: table-cell;
						vertical-align: top;
						padding-right: 10px;
						.date {
							display: inline-block;
							background: transparent;
							width: 68px;
							height: 68px;
							border-right: 1px solid #ddd;
							text-align: center;
							.month {
								margin-top: 0;
								font-size: 14px;
								text-transform: uppercase;
								display: block;
								line-height: 19px;
								color: $berkeley_blue;
							}
							.day {
								text-align: center;
								font-weight: 400;
								font-size: 39px;
								display: block;
								line-height: 22px;
								color: $berkeley_blue;
								font-family: $freight-georgia;
							}
						}
					}
					.media-body {
						display: table-cell;
						vertical-align: top;
						a {
							color: $berkeley_blue;
						}
						h3 {
							margin: 0;
							font-size: 18px;
							line-height: 24px;
							font-weight: 600;
						}
					}
				}
			}
		}
		.quote.web-founders-rock {
			background-color: $founders_rock;
		}
		.quote {
			.caption {
				padding: 20px;
				blockquote {
					font-family: $freight-arial;
					padding: 0;
					margin: 0 0 30px;
					font-size: 28px;
					border-left: 0;
					line-height: 1.2em;
					color: $ca_gold;
					font-weight: 600;
					.quotename {
						display: block;
						font-size: 16px;
						line-height: 19px;
						margin-top: 10px;
						color: $white;
					}
				}
			}
		}
		.twitter {
			.block-header {
				background: #1279bb;
				text-align: center;
				color: $white;
				width: 40px;
				margin: 0 auto 10px;
				background: #1279bb;
				height: 40px;
				border-radius: 40px;
				line-height: 40px;
			}
			.livefeed {
				h3 {
					text-align: center;
					a {
						font-size: 12px;
						text-transform: uppercase;
						text-decoration: none;
						letter-spacing: 1px;
						font-weight: 700;
						color: $berkeley_blue;
						font-family: $open-sans;
					}
				}
				.block-body {
					text-align: center;
					padding: 0px 20px;
					position: relative;
					margin-bottom: 20px;
					a {
						text-decoration: none;
						color: $berkeley_blue;
					}
				}
				p {
					font-family: $freight-arial;
					font-size: 22px;
					line-height: 1.4;
					margin: 0 0 10px;
				}
				.stamp {
					font-size: 14px;
					line-height: 18px;
					text-align: center;
					color: $web_gray;
				}
			}
			.entypo-social.twitter {
				&::before {
					content: '\e8c3';
				}
			}	
		}
		.promo.no-image {
			min-height: 90px;
			text-align: center;
			background-image: url('../../images/tessellation-bg-04.png'), url('../../images/tessellation-bg-08.png');
			background-position: right bottom, left bottom;
			background-repeat: no-repeat, no-repeat;
			display: table;
			.block-header {
				a {
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-weight: 700;
					color: $white;
					font-family: $open-sans;
					margin: 10px;
					text-decoration: none;
				}
			}
			.caption {
				padding-top: 15px;
				padding-bottom: 20px;
				margin-top: 0;
				display: table-cell;
				vertical-align: middle;
				color: $black;
				font-size: 17px;
				font-weight: 500;
				line-height: 23px;
				h3 {
					line-height: 31px;
					margin: 10px;
					color: $white;
					font-size: 26px;
					font-weight: 600;
					font-family: $freight-georgia;
				}
			}
		}
		.promo.solid-background.web-medalist {
			background-color: $medalist;
		}
	}
}